*{
  padding: 0;
  margin: 0;
}

#display{
  border: 0px solid black;
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 60%;
  top: 40%;
  translate: -50% -50%;
  background-color: white;
}

#wasd{
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 20%;
  top: 80%;
  translate: -50% -50%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 200px;
  gap: 10px;
  width: 180px;
}

#as{
  display: flex;
  gap: px;
  box-sizing: border-box;

  gap: 55px;
}

#w{
  width: 40px;
  height: 60px;
  margin-left: 68px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: grey;
}

#a{
  width: 60px;
  height: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: grey;
}

#s{
  width: 60px;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: grey;
}

#d{
  width: 40px;
  height: 60px;
  margin-left: 68px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: grey;
}

h1,h2{
  text-align: center;
}

#Butt{
  bottom: 5%;
  top: 95%;
  left: 50%;
  right:50%;
  box-sizing: border-box;
  translate: -50% -50%;
  display: flex;
  position: fixed;
  height: 20px;
  width: 350px;
  padding-left: 65px;
  gap: 20px;
  
}

#pre,#sav,#res{
  text-align: center;
  width: 60px;
  background-color: grey;
  color: white;
}

#n{
  text-align: center;
}

#w,#a,#s,#d{
  color: white;
}